
body {
    /* Margin bottom by footer height */
    background-color: peachpuff;
   
    margin-bottom: 60px;
}
.user-name {
    color: black;
    font-size: 15px;
    padding: 12px;
}

.table table-bordered{
    color:aqua;
}
